.client-centric-model {
  padding: 45px 60px;
  &__img {
    padding-top: 30px;
    text-align: center;
    img {
      width: 85%;
      @media (max-width: 1280px) {
        padding: 0 10px;
      }
    }
  }
  @media (max-width: 1280px) {
    padding: 0px;
  }
}

.header-content--client-centric-model {
  @media (max-width: 1280px) {
    padding: 30px 10px 30px 10px;
    text-align: center;
  }
}