.principles {
  &__col-one {
    &--first {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
    &--second {
      position: relative;
      display: flex;
      align-items: flex-end;
      min-width: 480px;
      @media (max-width: 1280px) {
        display: none;
      }
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    &--first {
      @media (max-width: 1280px) {
        flex-direction: column;
      }
    }
    &--second {
      background-image: url(../img/background--011.png);
      background-repeat: no-repeat;
      background-position: right bottom;
    }
  }
}

.principles-content-block {
  position: relative;
  min-height: 325px;
  @media (max-width: 768px) {
    order: 2;
  }
}

.principles-content {
  position: relative;
  left: -100%;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  height: 0;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: $text-color__010;
  transition: all .3s ease-in-out;
  &.active {
    left: 0;
    height: auto;
    padding: 45px 0 0 90px;
    @media (max-width: 1280px) {
      padding: 30px;
    }
  }
  p:not(:last-child) {
    margin-bottom: 15px;
  }
  @media (max-width: 768px) {
    font-size: 15px;
  }
}

.person-slide-nav {
  margin-top: 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 135px;
  background-color: $background-color__001;
  border-radius: 0px 50px 0px 0px;
  @media (max-width: 1280px) {
    margin-top: 55px;
  }
  @media (max-width: 768px) {
    margin-top: 30px;
    width: 100%;
    height: auto;
    border-radius: 0;
  } 
  @media (max-width: 425px) {
    padding: 10px 0 0 0;
  }
}

.slide-nav {
  position: relative; 
  margin-top: -65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  &__arrow {
    margin: 0 30px 0 45px;
    width: 20px;
    height: 31px;
    background-image: url(../img/icon--arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    &--right {
      margin: 0 45px 0 30px;
      transform: rotate(180deg);
    }
  }
  @media (max-width: 768px) {
    margin-top: 0;
    height: 185px;
  }
  @media (max-width: 425px) {
    height: auto;
  } 
}

.slide-person-block {
  padding: 0 5%;
  display: flex;
  align-items: center;
  flex-grow: 1;
  &__item {
    margin-right: 20px;
    padding: 12px;
    text-align: center;
    width: 110px;
    height: 180px;
    background: $background-color__002;
    box-shadow: 0px 16px 47px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    cursor: pointer;
    @media (max-width: 425px) {
      margin-right: 0;
      padding: 5px 5px 10px 5px;
      width: auto;
      height: auto;
      box-shadow: none;
      border-radius: 5px 5px 0 0;
      background-color: transparent;
      &.active {
        background-color: $background-color__002;
      }
    }
    img {
      margin-bottom: 5px;
      @media (max-width: 425px) {
        display: none;
      }
    }
    span {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.9799px;
      color: $text-color__011;
      @media (max-width: 375px) {
        font-size: 12px;
      }
    }
  }
  @media (max-width: 768px) {
    margin-bottom: -15px;
  }
  @media (max-width: 425px) {
    padding: 0;
    margin-bottom: 0;
  }
}

.person-block {
  padding-left: 70px;
  position: absolute;
  right: -100%;
  width: 480px;
  transition: all .3s ease-in-out;
  &.active {
    right: 0;
  }
}

.person-block-text {
  position: absolute;
  bottom: 20px;
  right: 0;
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 460px;
  font-family: $second-font;
  color: $text-color__002;
  background-color: $background-color__003;
  &__name {
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    text-align: right;
    text-transform: uppercase;
  }
  &__position {
    font-size: 18px;
    line-height: 23px;
    text-align: right;
  }
}