.header-protest {
  font-size: 18px;
  font-weight: 500;
  color: $text-color__009;
}

.protest-contect {
  margin-top: 0;
  width: 60%;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -.5px;
  color: $text-color__003;
}

ul.protest-list {
  margin-bottom: 15px;
}