.steps {
  display: flex;
  width: 100%;
  height: 635px;
  &__col {
    display: flex;
    flex-direction: column;
    height: 100%;
    &--first {
      width: 315px;
      @media (max-width: 1280px) {
        width: 100%;
      }
    }
    &--second {
      padding: 25px 30px;
      flex-grow: 1;
      background-image: url(../img/background--010.png);
      background-repeat: no-repeat;
      background-position: center center;
    } 
  }
  &__row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    counter-reset: item;
    z-index: 2;
    & .action:first-child::after,
    & .action:nth-child(2)::after {
      content: '';
      width: 100%;
      position: absolute;
      top: 50%;
      right: -100%;
      border-top: 2px dashed #323E48;
    }
    &:last-child {
      counter-reset: item 3;
      z-index: 1;
      &::after,
      &::before {
        content: '';
        position: absolute;
        top: -100%;
        height: 100%;
        border-left: 2px dashed #323E48;
      }
      &::after {
        left: 150px;
      }
      &::before {
        top: -50%;
        right: 150px;
      }
    }
    @media (max-width: 960px) {
      flex-direction: column;
      align-items: center;
      &::before,
      &::after {
        display: none;
      }
      & .action::after  {
        display: none;
      } 
    }
  }
  @media (max-width: 1280px) {
    flex-direction: column;
    height: auto;
  }
}

.header-content--steps {
  padding: 45px 0 0 60px;
  @media (max-width: 1280px) {
    padding: 45px;
    text-align: center;
  } 
}

.header-steps {
  padding-left: 40px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 65px;
  line-height: 80px;
  letter-spacing: -0.5px;
  color: $text-color__014;
  @media (max-width: 1280px) {
    display: none;
  } 
}

.action {
  position: relative;
  padding: 50px 40px 0;
  width: 320px;
  height: 220px;
  display: flex;
  flex-direction: column;
  background: $background-color__002;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  &__header {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: $text-color__007;
    @media (max-width: 1440px) {
      line-height: 23px;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 25px;
    color: $text-color__015;
    @media (max-width: 1440px) {
      line-height: 21px;
    }
  }
  &::before {
    counter-increment: item;
    content: counter(item);
    position: absolute;
    top: -15px;
    left: -15px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 26px;
    line-height: 26px;
    color: $text-color__002;
    background-color: $background-color__007;
  }
  &:nth-child(2) {
    align-self: center;
  }
  &:nth-child(3) {
    align-self: flex-end;
  }
  @media (max-width: 1440px) {
    padding: 30px 20px 0;  
    width: 260px;
    height: 185px;  
  }
  @media (max-width: 1280px) {
    & {
      margin-bottom: 40px;
    }
    &:nth-child(3) {
      align-self: center;
    }
  }
}