.targets__row {
  display: flex;
  justify-content: space-between;
  &--first {
    margin-bottom: 10px; 
    @media (max-width: 1280px) {
      flex-direction: column;
    }
  }
  &--second {
    padding-left: 70px;
    background-image: url(../img/background--007.png);
    background-repeat: no-repeat;
    @media (max-width: 1280px) {
      padding: 0 30px;
      flex-direction: column;
      align-items: center;
    }
  }
  &--third {
    margin: 80px 0 0 0;
    padding: 0 70px 40px 70px;
    align-items: center;
    @media (max-width: 1024px) {
      margin: 30px 0 0 0;
      flex-direction: column;
    }
  }
}

.targets__col {
  &--left {
    @media (max-width: 1280px) {
      margin-top: 20px;
      order: 2;
    }
  }
  &--right {
    margin-right: 90px;
    @media (max-width: 1280px) {
      margin-right: 0;
      order: 1;
    }
  }
  
}

.departments-tabs {
  margin: 50px 45px 0 0;
  display: flex;
  align-items: center;
  @media (max-width: 1280px) {
    margin: 30px 0;
    justify-content: center;
  }
}

.tabs-block {
  margin: 0 25px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #F4F4F4;
  &__elem {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $text-color__006;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 20px;
      @media (max-width: 768px) {
        margin-right: 10px;
      }
      @media (max-width: 425px) {
        margin-right: 5px;
      }
    }
  }
  @media (max-width: 768px) {

  }
}

.tabs-block-arrow {
  width: 20px;
  height: 16px;
  background-image: url(../img/icon--arrow_small.svg);
  background-repeat: no-repeat;
  background-position: center;
  &--right {
    transform: rotate(180deg);
  }
}

.advert {
  padding: 0 65px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 580px;
  height: 150px;
  font-size: 18px;
  line-height: 21px;
  color: $text-color__002;
  background-color: $background-color__003;
  &--light {
    margin: 40px 80px 0 0;
    color: $text-color__006;
    background-color: $background-color__004;
    background-image: url(../img/background--004.png);
    background-repeat: no-repeat;
    background-position: right center;
    @media (max-width: 1280px) {
      margin: 0px 0 0 0;
    }
  }
  @media (max-width: 768px) {
    padding: 20px 30px;
    width: auto;
    height: auto;
  }
}

.target-list {
  list-style-type: none;
  margin: 15px 0 0 150px;
  padding: 0;
  &--gray {
    position: relative;
    margin-top: -12px;
    margin-left: 240px;
    padding: 20px 20px 20px 45px;
    max-width: 415px;
    background-color: $background-color__005;
    @media (max-width: 768px) {
      margin-left: 0;
    } 
  }
  li {
    font-family: $third-font;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: $text-color__006;
  }
  @media (max-width: 768px) {
    margin: 15px 0 0 0;
  }
}

.strategy-link {
  margin: 30px 0 0 200px;
  position: relative;
  &::before {
    position: absolute;
    top: 10px;
    left: -30px;
    content: '';
    width: 19px;
    height: 19px;
    background-image: url(../img/icon--cloud.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  &__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    color: $text-color__012;
  }
  &__update {
    margin-top: -5px;
    font-family: $third-font;
    font-weight: 300;
    font-size: 9px;
    line-height: 21px;
    color: $text-color__012;
  }
  @media (max-width: 768px) {
    margin: 30px auto;
    width: 200px;
  }
}

.achievements-image {
  margin-right: 75px;
}

.achievements-elem {
  &:not(:last-child) {
    margin-right: 40px;
    @media (max-width: 1024px) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  &__title {
    margin-bottom: 7px;
    height: 40px;
    font-size: 16px;
    line-height: 19px;
    color: $text-color__006;
  }
  &__subtitle {
    font-size: 14px;
    line-height: 22px;
    color: $text-color__013;
  }
}